<div class="<%= Styles.menu.header %>">
  <h1>Examples</h1>
</div>

<ul class="<%= Styles.menu.list %>">
  <% @examples.group_by(&:category_name).each do |category_name, examples| %>
    <li class="<%= Styles.menu.list_item %>">
      <%= category_name.humanize %>
       <ul class="<%= Styles.menu.sub_list %>">
        <% examples.each do |example| %>
          <li><%= link_to example.name.humanize, example_path(example), class: Styles.menu.example_link %></li>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>
